body{
    /**background-image: -moz-linear-gradient(center top , #BBBBBB, #111111)**/
    background-color: #222222 !important;
    background-image: none !important;
    color: #EEEEEE;
}


#login{
     background:#333333 !important;
}

#page-login{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 100px;
    font: 11pt 'Century Gothic',Arial,Helvetica,sans-serif;
    color:#555555;
    background-color:#F5F5F5;
    border:1px solid #CCCCCC;
    border-radius:5px;
    box-shadow:1px 1px 5px #000000;
}

#logo-login{
    padding-top: 140px;
    padding-bottom: 60px;
}
#logo-login img{
    width: 80px;
}

#login-form{
    padding: 20px;   
}
#LoginForm_username_em_ ,#LoginForm_password_em_{
    color: #FF552A;
}

#LoginForm_rememberMe{
    float:left;
    margin-right:5px;
}

#page {
    padding:10px 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
}

.brand .first{
    font-family: "Bookman Old Style",Bookman,Garamond,serif;
    font-weight: bold;
    color: #BBBBB;
    text-shadow: 1px 1px 2px #000000;
}
#footer{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    line-height: 15px;
    padding: 10px 15px;
    border-top: 1px solid #EEEEEE;
    color: #EEEEEE;
}

#left{
    padding-bottom: 10px;
    margin-left: 10px;
}

#left legend{
    color: #EEEEEE;
    padding-bottom: 5px;
}

#left a{
    color:#EEEEEE;
    text-shadow:1px 1px 2px #000000;
    line-height: 25px;
    padding: 4px 10px;
    margin-top:1px;
}
#left a:hover{
    text-shadow:1px 1px 2px #DDDDDD;
    color: #333333;
}
.help-block{
    margin-bottom:20px !important;
}
#left .dropdown-menu a{
    color: #333333;
    text-shadow:1px 1px 2px #EEEEEE;
    padding: 0px 10px;
}
#left .dropdown-menu a:hover{
    text-shadow:1px 1px 1px #333333;
    color: #EEEEEE;
}
#right{
    margin-left: 10px;
    margin-right: 0;
}

#right .breadcrumb{
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #FFFFFF;
    border-radius: 0;
    border-top: 1px solid #FAFAFA;
    box-shadow: none;
    margin-bottom: 0;
}

.caption{
    background: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
    background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 0 1.25em;
}


.caption h1 {
    color: #333333;
    font-size: 1.5em;
    font-weight:bold;
    line-height: 1em;
    margin: 1em 0;
    padding: 0;
}

#content{
    background-color: #FEFEFE;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px #111111;
    min-height: 400px;
}

#content h1{
    font-size: 30px;
    color: #999999;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 0;
}

.box-head {
    padding: 7px;
    size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    border-radius:3px 3px  0 0;
}

.box-content{
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #DDDDDD;
    text-align: left;
    background-color: #fff;
    line-height: 20px;
}
.operations {
    height: 50px;
    list-style: none outside none;
    margin-top: 50px;
}

.operations li {
    float: left;
    padding: 0 5px;
}
.operations a, input[type="submit"], input[type="button"] {
    background: -moz-linear-gradient(center top , #EEEEEE 0%, #CCCCCC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #999999;
    border-radius: 0;
    color: #000000;
    cursor: pointer;
    margin: 4px 2px;
    padding: 5px 12px;
}

/*Peta*/
#map_canvas{
    height: 450px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}
#map_canvas .map-content{
    text-align: center;
    max-width: 550px;
    font-size:12px;
    line-height: 18px;
}

#map_canvas .map-img {
    width:30%;
}

#map_canvas .map-img img{
    width:120px;
    margin:10px 10px;
}

#map_canvas .map-text{
    width: 65%;
    text-align: left;
    padding: 5px;
    margin-left: 10px;
}

#map_canvas .map-text p{
    text-align: justify;   
}

#map_canvas .map-text table tr td{
    border:1px solid #DDDDDD;
    padding: 5px 6px;
}
#map_canvas .map-text table tr:first-child{
    font-weight: bold;
}

.dashboard {
    padding:10px 0;
    margin-bottom:20px; 
}

#input-koordinat{
    background-color: #EEEEEE;
    padding: 5px 5px 10px 10px;
    margin-bottom: 10px;
    border-left: 8px solid #FFAA00;
}


/** Edit Form GIS **/
#editform .item[class*="block_gis"] .indmap {
    background: url("../img/map-search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;
    width: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#content .grid-view table thead tr th{
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
}

#content .grid-view table thead tr th a{
    color: #FFFFFF;
}

#panel-ds .box {
    text-align: center;
    padding: 30px;
    background: #444444;
    color: #EEEEEE;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}


/** Accordion Menu**/
#accordian {
    margin-top: 10px;
    margin-bottom: 15px;
}

#accordian ul{
    padding-left: 0;
    margin-left: 0;
}
/*heading styles*/
#accordian h3 {
	font-size: 14px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
        margin-top: 0;
        margin-bottom: 0;
        color: #FFFFFF;
        background: #787878;
        margin-top: 1px;
}
#accordian ul li a{
    color: #FFFFFF;
    background: #A5A5A5;
    display: block;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 1px 1px 2px #000000;
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	text-decoration: none;
	font-size: 14px;
	line-height: 25px;
	display: block;
	padding-left:25px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover{
	background: #E1E1E1;
	padding-left: 30px;
}
#accordian ul li a:hover{
    background: #E1E1E1;
    text-decoration: none;
    display: block;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}